@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: Pixels;
  src: url(./assets/LLPIXEL3.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", "Pixel", sans-serif;
}

.dashboard {
  width: 218px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  background-color: #c52018;
  border-right: 20px solid #292929;
  z-index: 1;
}

h1{
  width: 800px;
  height: auto;
  margin-top: 200px;
  margin-bottom: 60px;
  text-align: center;
  font-family: Pixels;
  text-shadow: 1px 2px #861611
}

.dash-title{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.dash-icon{
  width: 40px;
  height: 40px;
}

h3{
  font-size: 21px;
  font-family: Pixels;
  display: inline;
  margin-top: 5px;
  color: white;
  padding: 4px;
}

.circle {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #292929;
  margin-left: 170px;
  margin-top: 230px;
  position: fixed;
  z-index: 2;
}

.white-circle {
  margin-inline: auto;
  margin-top: 10px;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.border {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-top: 6px;
  background-color: whitesmoke;
  width: 48px;
  height: 48px;
  border: 4px solid #292929;
  border-radius: 50%;
}

a{
  align-self: center;
}

.text, .typeStats{
  color: white;
  font-family: "Pixels";
  text-align: center;
  font-size: 20px;
}

.typeStats{
  margin-top: 60px;
}

.perfil {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 20px;
}

.buttonfunction {
  width: 160px;
  height: 240px;
  margin-top: 40px;
}

.seletor {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  border: 3px solid black;
  width: 160px;
  height: 40px;
}

.wrap {
  margin: 0 auto;
  margin-top: 15px;
  height: 180px;
  width: 84%;
  position: absolute;
  overflow: hidden;
  align-items: center;
}

.pictures {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #070707;
  background: linear-gradient(
    195deg,
    #ad2c46 0%,
    #d12547 44%,
    #262122 41%,
    #262122 50%,
    #fff 46%,
    #fff 100%
  );
}

.main-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84%;
  margin-left: 220px;
}

.card {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  box-shadow: -13px -13px 13px -15px var(--color1),
    13px 13px 13px -15px var(--color2), 0 0 4px 2px rgba(255, 255, 255, 0.5),
    0 35px 25px -15px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border: 10px solid gold;
  background: linear-gradient(
    to bottom right,
    #ffffa4,
    #fff870,
    #fff200,
    #fff870,
    #ffffa4,
    #fff870
  );
  width: 290px;
  background-color: rgb(71, 60, 45);
  height: 390px;
  display: inline-block;
  margin-left: 20px;
  flex-shrink: 0;
}

.gridContainerUp {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 32px 2px 140px 15px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.title {
  grid-row: 1;
  grid-column: 1;
  padding: 10px;
  font-size: 15px;
  text-align: left;
  font-weight: bolder;
}

.number {
  grid-row: 1;
  grid-column: 2;
  padding: 10px;
  font-size: 12px;
  text-align: right;
  font-weight: bold;
}

.sideInfo {
  grid-row: 1;
  grid-column: 3;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  color: #c52018;
  font-style: italic;
  font-weight: bolder;
}

.upLine {
  grid-row: 2;
  grid-column: 1 / span 3;
  border-top: 1px solid black;
}

.backgroundImg {
  grid-row: 3;
  grid-column: 1 / 3;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 260px;
  height: 140px;
}

.downInfo {
  display: grid;
  grid-row: 4;
  grid-column: 1 / span 3;
  background-color: goldenrod;
  border: 1px solid rgba(0, 0, 0, 0.8);
  align-self: center;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  font-weight: bold;
}

.weight,
.height {
  grid-row: 4;
  display: inline;
  font-size: 10px;
  text-align: center;
  align-self: center;
}

.gridContainerDown {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 85px 1px 95px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.downLine {
  grid-row: 2;
  grid-column: 1 / span 3;
  border-top: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
}

.attacks,
.type,
.weak,
.resistant {
  font-size: 9.5px;
  text-align: center;
  font-style: oblique;
}

.attackList,
.typeList,
.weakList,
.resistList {
  font-size: 11.5px;
  text-align: center;
  font-weight: bolder;
  padding: 7px;
}

.attackList {
  grid-row: 1;
  grid-column: 1;
}

.typeList {
  grid-row: 1;
  grid-column: 2;
}

.weakList {
  grid-row: 3;
  grid-column: 1;
}

.resistList {
  grid-row: 3;
  grid-column: 2;
}

.card-container {
  display: flex;
  width: 100%;
  height: auto;
  margin-right: 0;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

#ordemGeracao {
  width: 50px;
  height: 80px;
}

.container-carousel {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: visible;
  z-index: 2;
}

.slider {
  padding-left: 40px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 2;
}

.carousel-img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 50px;
  object-fit: cover;
}

#previous,
#next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  top: calc(8% - 25px);
  left: -10px;
}

#next {
  left: unset;
  right: 30px;
}

#ordemGeracao {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.name-geracao {
  font-size: 15px;
  display: flex;
  background-color: transparent;
  margin-top: 102px;
  width: 200px;
  height: 20px;
  margin-left: -80px;
  padding-left: 40px;
  color: transparent;
}

.info_icon {
  cursor: pointer;
}

@media (max-width: 1000px){

  .card-container{
    width: 100%;
    gap: 22px;
  }

  .card{
    margin-left: 0px;
  }

  .main-screen{
    width: 80%;
    margin-left: 150px;
  }

  #dashboard{
    width: 150px;
    border-right: 10px solid #292929;
  }

  .dash-title{
    margin-top: 5px;
    margin-left: 5px;
  }

  .dash-icon{
    margin-top: 10px;
  }

  h3{
    margin-top: 0px;
  }

  .perfil{
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }

  .text{
    font-size: 18px;
  }

  .typeStats {
    margin-top: 50px;
  }

  .buttonfunction{
    width: 130px;
    height: 240px;
    margin-top: 70px;
  }

  .seletor{
    border: 2px solid black;
    margin-bottom: 15px;
    width: 130px;
  }

  .circle{
    margin-left: 105px;
    margin-top: 220px;
  }

  .wrap{
    width: 80%;
  }

  h1{
    width: 600px;
  }

}

@media (min-width: 360px) and (max-width: 767px){

  .card-container{
    width: 100%;
  }

  #dashboard{
    width: 100%;
    height: 120px;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-bottom: 10px solid #292929;
  }

  .dash-title{
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 5px;
    margin-top: 0px;
  }

  .dash-icon{
    width: 30px;
    height: 30px;
  }

  .perfil, .text{
    display: none;
  }

  .main-screen{
    margin-left: 0px;
    width: 100%;
  }

  h1{
    width: 300px;
    font-size: 18px;
    margin-top: 240px;
    margin-bottom: 30px;
  }

  h3{
    font-size: 17px;
    height: 50px;
    width: 70px;
  }

  .circle {
    display: none;
  }

  .wrap {
    height: 115px;
    width: 100%;
    margin-top: 110px;
    z-index: 0;
  }

  #ordemGeracao {
    width: 115px;
    height: 25px;
    font-size: 11px;
    margin-top: 20px;
  }

  .container-carousel {
    height: 80px;
  }

  #previous,
  #next {
    height: 20px;
    margin-left: 20px;
  }

  .slider {
    height: 60px;
  }

  .pictures {
    width: 50px;
    height: 50px;
  }

  .name-geracao {
    padding-left: 20px;
  }

  .buttonfunction{
    width: 250px;
    height: 100px;
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .seletor{
    border: 2px solid black;
    width: 107px;
    height: 25px;
    margin-bottom: 10px;
    font-size: 11px;
    padding: 2px;
  }

  .typeStats{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 11px;
  }
}